.container{
    display: inline-block;
}

.text {
    font-size: 3em;
    font-family: monospace;
    width: 100%;
    border-right: 5px solid; 
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 2s steps(15),
      cursor .4s step-end infinite alternate;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    /* to { width: 100% } */
  }
  
  /* The typewriter cursor effect */
  @keyframes cursor {
    from, to { border-color: transparent }
    50% { border-color: orange; }
    /* 50% {border-color: transparent} */
  }