body{
     margin:40px;
     background-color: grey;
     text-align: justify;
     /* font-style: oblique; */
     font-size:x-large;
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}