<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am a Master's student in the department of Computational Biology at Carnegie Mellon University. 
        I did my undergrad from Indian Institute of Technology Kanpur. There, 
        I worked in multiple projects at the interface of Technology and Biology.</p>
      </div>
      <div class="col-lg-4">
        <p>My areas of interest include - Genome Analysis with a focus on different types of cancer. Drug Discovery 
          and other applications of Machine Learning in Biology/Health. Disease-wise, my work has been on different
           types of cancer so far. </p>
      </div>
      <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div> -->
    </div>
  </div>
</section>
